li.shelf-item {
    display: flex !important;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    max-width: 308px;
    margin: 0 16px;
}

li img {
    width: fit-content;
    cursor: pointer;
}

li .colors {
    display: flex;
    margin-top: 8px;
}

.colors > div {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.colors > div:hover{
    border: 1px solid #000;
}

li .buy-info {
    position: relative;
}

li .price {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

li .product-name {
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

li .product-description {
    max-width: 254px;
    font-size: 12px;
    height: 54px;
    line-height: 18px;
    opacity: 0.5;
}

.buy-info .buy-button-container {
    width: 254px;
    margin-top: 8px;
}

.buy-info .buy-button-container button {
    background-color: #faa500;
    width: 100%;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 4px;
}

.buy-info .buy-button-container button:hover{
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    li.shelf-item {
        width: 308px !important;
    }

}